[properties]

group: com.goodworkalan
project: litany
version: 0.1
builder: src/build/java/com.goodworkalan.prattle.Builder

[repositories]

http://repo1.maven.org/maven2/      maven

[dependencies]

junit               junit       4.4     test    stable
com.goodworkalan    mix         0.1     build   snapshot
